button {
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(60, 50, 102);
  border: 20px solid #aea7d4e7;
  border-radius: 5%;
  font: bold italic large Palatino, serif;
}
