button {
   left: 50%;
  background-color: white;
  color: rgb(60, 50, 102);
  border: 20px solid #aea7d4e7;
  border-radius: 5%;
  font: bold italic large Palatino, serif;
}

.calculator {
  display: flex;
  flex-direction: row;
  width: 40%;
  place-self: center;
 align-items: stretch;
 justify-content: space-around;
  margin-top: 10%;
  margin-left: 10%;

}
